body{
  background-image: url("https://raw.githubusercontent.com/Mabeebee/mabeebee.github.io/main/MMINTER%20Final%20Project%20Content/HOME%20Page-ABT%20ME/Background.png");
}

.layout {
  width: auto;
  height: 768px;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { 
  grid-area: header;
  height: 100px;
}
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  font-family: 'Lilita One', cursive;
  border: none;
  font-size: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #94B7CF;
  min-width: auto;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #D3C8BC;
  color: #B46125;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #D3C8BC;
  color: #B46125;
}

#logo{
  width: 50px;
  height: auto;
  position: absolute;
  padding-left: 30px;
  padding-top: 15px;
}
.main { 
  grid-area: main;
  padding-top: 40px;
  padding-bottom: 40px;
  width: auto;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding-left: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

a{
  font-size: 20px;
  font-family: 'Lilita One', cursive;
  color: white;
  text-decoration: none;
}

b {
  color: #B46125;
  font-family: 'Lilita One', cursive;
  font-size: 40px;
}

p1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #B46125;
  align: center;
}

h3 {
  font-family: 'Zen Maru Gothic', sans-serif;
  color: #B46125;
  font-size: 60px;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity: 1;}
}
.image-center {
  display: grid;
  place-items: center;
  z-index: -1;
  width: 600px;
  height: auto;
  margin: 200px auto;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.fade-in-text {
  animation: fadeIn 5s;
}